/* --------------------------------------------------Definindo a fonte e suas caracteristicas------------------------------------------------- */
@font-face {
    font-family: 'Tinos';
    src: url('../assets/fonts/Tinos-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/* ----------------------------------------------------------------Reset simples-------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------------------Configurações Globais---------------------------------------------------------- */
:root {
    --principalColor: #E74923;
    --secondaryColor: #742B26;
}

/* -----------------------------------------------------------Estiliza o corpo da página------------------------------------------------------ */
body {
    font-family: 'Tinos', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
    background-image: url('../assets/backgrounds/circuit.jpg');
    background-size:cover;
}
/* -------------------------------------------------------Estiliza o container das informações------------------------------------------------ */
.containerLogo {
    display: flex;
    width: 22rem;
    height: 31.3rem;
    box-shadow: 1.25rem 1.25rem 3.13rem rgba(0, 0, 0, 0.25);
    border-top: 0.06rem solid rgba(255, 255, 255, 0.5);
    border-right: 0.06rem solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    border-top-left-radius: 1.88rem;
    border-bottom-left-radius: 1.88rem;
    padding: 20px;
    background-color: #d7cde88b;
}
.logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 9.38rem;
    margin-bottom: 1rem;
}
.form-solid {
    max-width: 100%;
}
.form-solid h1 {
    margin-bottom: 1rem;
    font-size:x-large;
} 
.form-solid p {                                         
    text-align:justify;
    font-size: larger;
}
/* --------------------------------------------------------Estiliza o container do formulário------------------------------------------------- */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.21rem;
    width: 40rem;
    height: 31.3rem;
    box-shadow: 1.25rem 1.25rem 3.13rem rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
    background-color: rgba(255, 255, 255, 0.15);
    border-top: 0.06rem solid rgba(255, 255, 255, 0.5);
    border-right: 0.06rem solid rgba(255, 255, 255, 0.5);
    border-top-right-radius: 1.88rem;
    border-bottom-right-radius: 1.88rem;
}
.form-header-title {
    margin-bottom: 1rem;
    font-size: large;
    text-align: center;
}
/* -------------------------------------------------------------Estilização dos inputs------------------------------------------------------- */
.input-box, .attachment {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.input-box label {
    display: flex;
    justify-content: left;
    margin-left: 0.3rem;
}
.input-box input, .attachment input {
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.63rem;
    box-shadow: 0.06rem 0.06rem 0.38rem #0000001c;
}
.input-box input:focus-visible, .gender-inputs-selection:focus-visible {
    outline: 0.13rem solid var(--principalColor);
    cursor: text;
}
.input-label:hover, .gender-inputs-selection:hover, .path-option:hover {
    outline: 0.13rem solid var(--principalColor);
    cursor: pointer;
}
.endereco-residencial, .contact-information, .password {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.3rem;
}
.endereco-residencial p {     
    font-size: larger;
    justify-content: center;
    margin-top: 2.4rem;
    margin-left: 1rem;
}
.path-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
}
.gender-inputs-selection {
    width: 20rem;
    cursor: pointer;
    border-radius: 0.63rem;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    margin-top: 0.13rem;
}
.attachment input{
    background-color: white;
}
/* ---------------------------------------------------------------Estiliza os botões---------------------------------------------------------- */
.button-container {
    display: flex;
    justify-content:space-around;
}
.continue-button-one {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.6rem;
}
.btn-primary {
    border: none;
    background-color: var(--principalColor);
    padding: 0.4rem 1rem;
    cursor: pointer;
    border-radius: 1.88rem;
}
.continue-button button:hover, .btn-primary:hover {
    background-color: var(--secondaryColor);
}
.terms-checkbox {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
}
.terms-checkbox input[type="checkbox"] {
    cursor: pointer;
}
.terms-checkbox label {
    font-size: medium;
    cursor: text;
}
.terms-checkbox a {
    color: var(--principalColor);
    text-decoration: none;
}
.path-selection{
    margin: 15px 0;
}
.path-option{
    background-color: white;
    padding: 0.63rem;
    border: 0.13rem solid white;
    border-radius: 0.63rem;
    text-align: center;
}
.path-option input{
    display: block;
}
.path-option.selected{
    border: 0.13rem solid var(--principalColor);
}
.path-option img{
    display: block;
    margin: auto;
}